@charset "UTF-8";

/* 共通部分
--------------------------------*/
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 4%;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 1%;
  margin-bottom: 1%;
}

.item img {
  opacity: 1;
}

.item img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
